.Contacts{
    margin-left: 5%;
    margin-top: 5px;
    width: 65%;
    border: 1px solid gainsboro;
    display:flex;
    flex-direction: row;
    padding: 10px;


}
.PhotoImg{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-left: 10px;
}
.ContactName{
    font-family: Arial,sans-serif;
    font-size: 25px;
    margin-left: 10px;

}
